/* Background color */
body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

/* Style links */
a {
    text-decoration: none;
    color: #00008B;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}


/* Formatting pfp and about me paragtaph */
.wrapper {
    display: flex;          
    align-items: center;
    gap: 20px;              
    max-width: 800px;      
    margin: auto;           
}

.wrapper img{
    width:200px;
    height: auto;
}

.text-containr {
    flex: 1;
    padding: 20px;
}

/* Header */
.header{
    
}



/* Image size
.container {
    width: 300px;
    height: 300px;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #333; 
}

.container img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
} */